:root {
    --background: #ffffff;
    --foreground: #171717;
    --font-electrolize: 'Electrolize', sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #1F1F1F;
        --foreground: #ededed;
    }
}

html,
body {
    height: 100%;
    padding-bottom: 30px;
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-electrolize);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    font-family: var(--font-electrolize);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: var(--font-electrolize);
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
