.Home {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    gap: 70px;
    background-color: #1f1f1f;
    .date {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        .matches {
            display: flex;
            flex-direction: column;
            gap: 25px;
            .match {
                display: flex;
                align-items: center;
                text-align: center;
                gap: 40px;
                padding: 15px;
                .image {
                    width: 100px;
                    height: 100px;
                }
                .middle {
                    display: flex;
                    text-align: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 5px;
                    width: 60px;
                }
            }
        }
    }
}
